.card-out-wrapper {
  margin-bottom: 1rem;
  user-select: none;
  .ant-card {
    min-height: 55vh;
    height: auto;
  }
  .ant-empty {
    padding-top: 4.375rem;
  }
  .fir-nav-button {
    position: absolute;
    right: 0.625rem;
    top: 1.25rem;
  }
}
