.home {
  height: 100vh;
  .ant-layout {
    height: 100%;
  }
  display: flex;
  flex-direction: column;
  .ant-spin-nested-loading > div > .ant-spin {
    max-height: initial;
  }
  & > div.ant-spin-nested-loading {
    flex: 1;
    & > div.ant-spin-container {
      height: 100%;
    }
  }
  .ant-layout-sider {
    background: #fff;
    border-right: 1px solid #e8e8e8;
  }
  .logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 28px 16px 0;
    float: left;
  }
}
